:root {
    --green: #058748;
    --black: #1f0709;
    --white: #f5f5f5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffff;
    font-family: 'Comme', sans-serif;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    transition: .3s ease all;
}

body.dark {
    background: #2b2a2a;
  }
  

html {
    scroll-behavior: smooth;
}





.go__top {
    position: fixed;
    bottom: 30px;
    right: -100%;
    width: 40px;
    height: 40px;
    border: 2px solid var(--green);
    background: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;

}

.go__top:hover {
    background: var(--green);
    color: #fff;
    border: 2px solid var(--white);
}

.go__top img {
    height: 30px;


}

.sideways__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.sideways__top {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 10;
}


#header {
    position: relative;
    width: 100%;

}
body.dark nav {
    background: #222222;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  }

  body.dark .menu .list__container .lists li a{
    color: var(--white);
  }
  
 
  
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;


}

.menu .logo_box {
margin-left: 30px;
 /* padding-bottom: 30px; */
   display: flex;
  

}

.menu .logo_box h1 a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    color: var(--black);
   

}

body.dark .menu .logo_box h1 a{
    color: var(--white);
  }

.menu .logo_box img {
    width: 17%;
 
    
}


.menu .list__container {
    margin-right: 30px;

}

.menu .list__container .lists {
    display: flex;
    padding-right: 100px;
}

.menu .list__container .lists li {
    list-style: none;
}

.menu .list__container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    font-size: 23px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    transition: 0.3s;

}

.menu .list__container .lists li a.active {
    background-color: var(--green);

}

.menu .list__container .lists li a:hover {
    background-color: var(--green);

}

.nignt__mode{
    width: 80px;
    margin: auto;
    margin-left: 60px;
    margin-right: 0;
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
   
    display: flex;
    outline: none; 
  

}
.nignt__mode::after{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background:var(--white);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2) ;

        
}  

.nignt__mode.active {
    background: orange;
    color: #000;
  }
  

  .nignt__mode.active::after {
    right: 0;
    left: unset;
  }

.nignt__mode span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: none;
    color: var(--white);
    
}


#open__closed {
    display: none;
}

.img__header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./images/landroverLuis.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img__header .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img__header .cover h1 {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 200;

}

.img__header .cover hr {
    width: 400px;
    height: 2px;
    background: var(--white);
    border: none;
    margin-top: 5px;
}

.img__header .cover p {
    font-size: 30px;
    color: var(--white);
    margin-top: 20px;
}

button {
    width: 170px;
    height: 40px;
    background-color: var(--green);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 25px;
    color: var(--white);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: var(--white);
    color: var(--green);
}


.history {
    width: 100%;
    margin-top: 50px;
}

.history .info__container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--black);
    text-align: left;
    margin-bottom: 20px;

}
body.dark h2{
    color: var(--white);
    
  }

.history .info__container p {
    font-size: 1.5rem;
    color: var(--black);
    text-align: left;
    line-height: 30px;
    margin: auto;
    line-height: 1.8;

}
body.dark .history .info__container p{
    color: var(--white);
    
  }

.history .info__container .history__gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.history .info__container .history__gallery img {
    width: calc(33.33% - 10px);
    object-fit: cover;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

.history .info__container .history__button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(./images/Land_Rover_en_la_Sierra_de_Madrid.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;

}

.cards .deg__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
}

.cards .ejeZcards {
    position: relative;
    width: 100%;
    height: 100%;
}

.cards .container__cards {
    position: relative;
    width: 100%;
    padding-top: 30px;

}

.cards .container__cards .card__title {
    padding: 20px;
    text-align: center;
    width: 18%;
    margin: auto;
}

.cards .container__cards h2 {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: normal;
    text-align: center;

}

.cards .container__cards hr {
    background: var(--white);

} 

.container__gallery{
   display: flex;
   flex-wrap: wrap;
   align-items:flex-start;
   justify-content: space-evenly;
   min-height: 100vh;
   padding-top: 20px;
    
}
.gallery__cards{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 10px;

}
.cards .container__gallery .gallery__cards .card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.9s;

}
.cards .container__gallery .gallery__cards .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px var(--black);

}
.cards .container__gallery .gallery__cards  .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .container__gallery .gallery__cards .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 45px;
    height: 45px;
    color: var(--white);
    background: var(--green);
   font-size: 25px;
    text-align: center;


}
.cards .container__gallery .gallery__cards .back {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0 5px 10px var(--black);
    padding: 3px;
    color: var(--white);
    background: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;


}
.cards .container__gallery .gallery__cards .back .card__link{
    border-top: solid 1px var(--white);
    height: 50px;
    line-height: 50px;
}

.cards .container__gallery .gallery__cards .back .card__link a{
    color: var(--white);
    cursor: pointer;
}

.cards .container__gallery .gallery__cards .back h3{
    font-size: 25px;
    margin-top: 10px;
    letter-spacing: 2px;

}
.cards .container__gallery .gallery__cards .back p{
    letter-spacing: 1px;
    font-size: 15px;
}
.cards .container__gallery .gallery__cards:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.cards .container__gallery .gallery__cards:hover .back{
    transform: perspective(600px) rotateY(360deg);
}


.testimony {
    width: 100%;
    padding-top: 30px;
}

.testimony .testimony__title {
    padding: 5px;
    text-align: center;
    width: 18%;
    margin: auto;


}

.testimony .testimony__title h2 {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: normal;
    text-align: center;


}
body.dark .testimony .testimony__title h2{
    color: var(--white);
    
  }

.testimony .testimony__title hr {
    width: 75%;
    height: 2px;
    margin: auto;
    background: var(--black);
}


.testimony .container__testimony {
width: 90%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items:center;
justify-content: space-evenly;
min-height: 100vh;
padding-top: 20px;

}




.testimony .container__testimony .cards__testimony {
    position: relative;
    /* width: 35%;
    height: 50%;
    margin: 20px; */
    width: 300px;
    height: 550px;
    margin: 20px;


}

.testimony .container__testimony .cards__testimony .card__img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.testimony .container__testimony .cards__testimony .card__img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.testimony .container__testimony .cards__testimony .testimony__text {
    width: 100%;
    border: 2px solid var(--green);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 2s;
}

.testimony .container__testimony .cards__testimony .testimony__text h4 {
    color: var(--green);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 2s;
}
body.dark .testimony .container__testimony .cards__testimony .testimony__text p{
    color: var(--white);
    
  }

.testimony .container__testimony .cards__testimony .testimony__text p {
    font-size: 15px;
    color: var(--black);
    text-align: center;
    line-height: 25px;
    transition: 2s;
}


.testimony .container__testimony .cards__testimony .testimony__text:hover {
    border: 2px solid var(--black);
}

.testimony .container__testimony .cards__testimony .testimony__text:hover h4 {
    color: var(--black);
}

.footer {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(./images/landRoverPlaya.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.footer .deg__footer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.footer .ejeZfooter {
    position: relative;
    width: 100%;
    height: 100%;
}

.footer .container__footer {
    width: 90%;
    padding-top: 10px;
    margin: auto;
    padding-bottom: 60px;
}

.footer .container__footer .footer__title {
    padding: 20px;
    text-align: center;
    width: 50%;
    margin: auto;

}

.footer .container__footer .footer__title h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: normal;

}

.footer .container__footer .footer__title hr {

    width: 80%;
    height: 2px;
    margin: auto;
    background: var(--white);

}

.footer .container__footer .container__form {
  
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0, 0.3);
    border: 2px solid var(--green);
    text-align: center;
  }



.footer .container__footer .container__form .form {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.footer .container__footer .container__form .form label {
    font-size: 20px;
    text-align: left;
    color: var(--black);
    margin: 15px 0px 10px 0px; 


}

.footer .container__footer .container__form .form input {


  
    
    width: 100%;
    background-color: none;
    font-family: inherit;
    font-size: 1rem;
    color: #706c6c;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}




.footer .container__footer .container__form .data{
    width: 100%;
}

.footer .container__footer .container__form .form textarea {
    width: 100%;
    height: 150px;
    margin: auto;
    border: 2px solid var(--green);
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    color: var(--black);
    padding: 20px;

}
.footer .container__footer .container__form .file__form{

    width: 75%;
    margin-top: 10px;   
    justify-content: start;

    
   
  

}


.footer .container__footer .container__form .form .send {
    display: flex;
 
    justify-content: end;
  
}

.footer .container__footer .container__form .form .send button {
    width: 90px;
    height: 30px;
    font-size: 15px;
    

}

.footer .container__footer .container__form .form .messaje__form {
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.footer .footer__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 2px solid #fff;
    padding:0 35%;
}

.footer .footer__text p {
    font-size: 25px;
    text-align: start;
    color: #fff;
}

.container__contact{
    display: flex;
    gap: 1.5em;
   
}
.contact__link{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border: 1px solid aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

/* .contact__icon{
    width: 23px;
} */

@media screen and (max-width: 900px) {
  

    #open__closed{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        height: 30px;
        cursor: pointer;

    }
    /* .menu .list__container {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);

    } */
    .menu .list__container{
        background-color: var(--green);
        width: 40%;
        height: 45%;
        left: -100%;
        position: fixed;        
        top: 0;
       
        bottom: 0;
        overflow-y: hidden;
        margin-top: 55px;
        margin-left: 60%;
        transition: 0.5s;
        border-radius: 10px;


    }

    .menu .list__container .lists {
        width: 100%;
        height: 100%;        
        padding: 5%;
        display: block;     
        align-items: center;
        flex-direction: column;
        border-top: solid var(--green);
        
    }

    .menu .list__container .lists li {
        width: 90%;
        margin: auto;
       
        border-bottom: 1px solid rgba(255, 255, 255,  0.6);
        text-align: center;
        float: none;
        padding-top: 10px;
         
    }
    .bx{
        display: block;
        text-decoration: none;
        font-size: 2.5rem;
        margin-top: 0px;      
        position: absolute;       
        right: 20px;       
        cursor: pointer;

        

   
    }

    .menu .list__container .lists li a {
       
        font-size: 20px;       
        color: #f5f5f5;

    }

    .menu .list__container .lists li a.active {
        background: none;
        color: var(--black);
    }

    .menu .list__container .lists li a.hover {
        background: none;
        color: var(--black);
    }
}